{% extends '_shared/base.html' %}

{% block extrajs %}
    jQuery(document).ready(function($) {
        var count = 2;
        window.total = 282;
        $(window).scroll(function() {
            if ($(window).scrollTop() >= $(document).height() - $(window).height()) {
               if (count > window.total) {
                    return false;
               }else{
                  loadArticle(count);
               }
               count++;
            }
        });

        function loadArticle(pageNumber){
                        var postData = "action=infinite_scroll&page_no="+ pageNumber + '&loop_file=loop';
                        $('a#inifiniteLoader').show('fast');
            
            $.get("{% url 'list-imgpost' %}" + postData,
                function(html){
                    $('#inifiniteLoader').hide('1000');
                    $("#content").append(html);
                }
            );
            return false;
        }

    });
{% endblock %}


{% block main %}
{% include '_shared/header.html' %}

<main style="margin-top: 60px;">
{% for post in posts.object_list %}
<a href="http://wallions.com/24175">
<figure>
<img src="{{ post.imgurl.url }}">
<figcaption>{{ post.dimension }}</figcaption>
</figure>
</a>
{% endfor %}


<!-- <a id="inifiniteLoader">
<svg class="spinner" width="25px" height="25px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
   <circle class="loadingcircle" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg>
</a> -->
{% include '_shared/search_filter.html' %}
{% include '_shared/nav.html' %}
{% endblock %}
